*{
    margin: 0;
    padding: 0; 
    outline: none;
}
body{
    background-color: rgb(225, 225, 225);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 10px solid black;
}
.logo{
    margin: 0;
    padding: 0;
}
#logo{
    height: 98px;
    width: 160px;
}
.main-title{
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
#to-range{
    height: 32px;
    width: 32px;
}
.to-range{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25px;
    left: 97%;
}
#to-range{
    transition: .2s ease;
}
#to-range:hover{
    height: 36px;
    width: 36px;
    cursor: pointer;
}
#main-image{
    height: 463px;
    width: 1032;
    border-radius: 34px;
}
.main-image{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /*position: absolute;
    top: 103px;
    left: 50%;
    transform: translate(-50%);*/
}
.title-on-image{
    font-weight: 800;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%);
}
ul{
    list-style-type: space-counter;
}
.block{
    /* position: absolute;
    left: 50px;
    top: 600px; */
    margin-top: 40px;
    margin-left: 30px;
}
.all-pluses{
    margin: 0;
    padding: 0;
    width: 1500px;
    display: flex;
    justify-content: space-around;
}
.plus{
    font-weight: 800;
    font-size: 24px;
}
.plus ul{
    list-style: none;
}
.plus ul li::before{
    content: "✚";
    padding-right: 7px;
}
.range-block{
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    border-top: 10px solid black;
}
.range-title{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 36px;
    margin-top: 5px;
    padding: 0;
}

.range-fisrt-line{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.range-second-line{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.range-third-line{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.shoes{
    margin: 0;
    padding: 0;
    width: 283px;
    height: 372px;
    background-color:  rgb(196, 196, 196);
    border-radius: 20px;
    /* position: relative; */
}
.title-of-shoes{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
}
.title-of-shoes span{
    margin-top: 10px;
}
.shoes-image{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.shoes-image img{
    border-radius: 15px;
    transition: .5s all;
}
.shoes-image img:hover{
    box-shadow: 10px 5px rgb(73, 73, 73);
    transform: scale(1.2);
}
.info{
    font-weight: 800;
    font-size: 18px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#info{
    list-style-type: none;
}
#price{
    margin-top: 15px;
}
#sex{
    margin-top: 15px;
}
.button-block{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button{
    font-weight: 800;
    font-size: 18px;
    width: 236px;
    height: 32px;
    border: none;
    border-radius: 20px;
}
.button:hover{
    border: 3px solid black;
    cursor: pointer;
}
.reviews{
    margin-top: 30px;
    padding: 0 10px;
}
.reviews table{
    border-collapse: collapse;
    border: 2px solid silver;
    font-size: 14px;
    font-weight: 400;
}
.reviews table th, td{
    border: 2px solid silver;
}
.reviews table td{
    padding: 10px;
    text-align: center;
}
.reviews table td img{
    width: 70px;
    height: 70px;
}

.reviews table td:first-child{
    font-size: 12px;
}

.footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    border-top: 10px solid black;
}
.sub{
    max-width: 1200px;
    
    position: relative;
    margin: 10px auto 0;
}
.links{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 20px;
    margin-left: 30px;
}
.links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition:  .2s linear;
}
.links a:hover{
    color: rgb(196, 196, 196);
}
#inst{
    margin-left: 20px;
}
#fb{
    margin-left: 20px;
}
#mail{
    margin-left: 20px;
}
.copyright{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    justify-content: center;
    /*30*/
}
.phone-numbers span pre{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 14px;
}
.phone-numbers{
    margin: 0;
    padding: 0;
    position: relative;
}
.txt{
    position: absolute;
    right: 50px;
    top: -40px;
}
/*.phone-numbers{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
} */
.questions{
    margin: 0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
}
.answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0;
}
.answer ul li{
    padding: 5px 0 0;
}
.answer ul{
    list-style: none;
}
.answer ul li::before{
    content: "▶";
    padding-right: 7px;
}
#to-top{
    height: 32px;
    width: 32px;
    transform: rotate(180deg);
}
.to-top{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 650px;
    left: 97%;
    z-index: 9999;
    display: none;
}
.to-top._show{
    display: block;
}
#to-top:hover{
    height: 36px;
    width: 36px;
    cursor: pointer;
}
::-webkit-scrollbar { width: 7px; height: 7px;}
::-webkit-scrollbar-button {  background-color: rgb(0, 0, 0); }
::-webkit-scrollbar-track-piece { background-color: rgb(255, 255, 255);}
::-webkit-scrollbar-thumb { height: 50px; background-color:rgb(0, 0, 0); border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: rgb(0, 0, 0);}
::-webkit-resizer { background-color:rgb(0, 0, 0);}
